In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
file_path = #add path

ticker_df = pd.DataFrame
ticker_df = pd.read_excel(file_path, engine='openpyxl')
ticker_df['tickers_with_jk'] = ticker_df['tickers'] + '.JK' #for yahoo finance
ticker_df

   tickers tickers_with_jk
0     AKSI         AKSI.JK
1     ASSA         ASSA.JK
2     BIRD         BIRD.JK
3     BLTA         BLTA.JK
4     CMPP         CMPP.JK
5     GIAA         GIAA.JK
6     IMJS         IMJS.JK
7     LRNA         LRNA.JK
8     MIRA         MIRA.JK
9     MITI         MITI.JK
10    NELY         NELY.JK
11    SAFE         SAFE.JK
12    SDMU         SDMU.JK
13    SMDR         SMDR.JK
14    TAXI         TAXI.JK
15    TMAS         TMAS.JK
16    WEHA         WEHA.JK
17    HELI         HELI.JK
18    TRUK         TRUK.JK
19    TNCA         TNCA.JK
20    BPTR         BPTR.JK
21    SAPX         SAPX.JK
22    DEAL         DEAL.JK
23    JAYA         JAYA.JK
24    KJEN         KJEN.JK
25    PURA         PURA.JK
26    PPGL         PPGL.JK
27    TRJA         TRJA.JK
28    HAIS         HAIS.JK
29    HATM         HATM.JK
30    RCCC         RCCC.JK
31    ELPI         ELPI.JK
32    LAJU         LAJU.JK
33    GTRA         GTRA.JK
34    MPXL         MPXL.JK
35    KLAS         KLAS.JK
36    LOPI         LOPI.JK

In [35]:
results_list = []

for ticker_symbol in ticker_df['tickers_with_jk']:
    print(f"Calculating metrics for {ticker_symbol}...")

    ticker = yf.Ticker(ticker_symbol)
    
    balance_sheet = ticker.balance_sheet
    income_statement = ticker.income_stmt  
   
    if not balance_sheet.empty and not income_statement.empty:
        for year in income_statement.columns:
            try:
                intangible_assets = balance_sheet.loc["Goodwill And Other Intangible Assets", year]
            except KeyError:
                intangible_assets = 0
            
            try:
                total_assets = balance_sheet.loc["Total Assets", year]
            except KeyError:
                total_assets = 0

            try:
                total_liabilities = balance_sheet.loc["Total Liabilities Net Minority Interest", year]
            except KeyError:
                total_liabilities = 0

            try:
                current_assets = balance_sheet.loc["Current Assets", year]
            except KeyError:
                current_assets = 0

            try:
                current_liabilities = balance_sheet.loc["Current Liabilities", year]
            except KeyError:
                current_liabilities = 0

            try:
                net_income = income_statement.loc["Net Income", year]
            except KeyError:
                net_income = 0

            try: 
                revenue = income_statement.loc["Total Revenue", year]
            except KeyError:
                revenue = 0

            try:
                shareholder_equity = balance_sheet.loc["Stockholders Equity", year]
            except KeyError:
                shareholder_equity = 0

            try:
                eps = income_statement.loc["Basic EPS", year]
            except KeyError:
                eps = None

            # calculation and missing value (zero) set to NaN           
            current_ratio = current_assets / current_liabilities if current_liabilities != 0 and current_assets != 0 else np.nan
            roa = net_income / total_assets if total_assets != 0 else np.nan
            working_capital = current_assets - current_liabilities
            working_capital_to_total_assets = working_capital / total_assets if total_assets != 0 else np.nan
            intangible_assets_to_total_assets = intangible_assets / total_assets if total_assets != 0 else np.nan
            assets_turnover_ratio = revenue / total_assets if total_assets != 0 and revenue != 0 else np.nan
            ln_total_assets = np.log(float(total_assets)) if total_assets > 0 else np.nan
            leverage_ratio = total_liabilities / total_assets if total_assets != 0 and total_liabilities !=0 else np.nan
            debt_to_equity_ratio = total_liabilities / shareholder_equity if shareholder_equity != 0 and total_liabilities != 0 else np.nan
            
           
            results_list.append({
                'tickers': ticker_symbol,
                'year': year.year,  
                'current_ratio': current_ratio,
                'roa': roa,
                'working_capital': working_capital,
                'working_capital_to_total_assets': working_capital_to_total_assets,
                'intangible_assets_to_total_assets': intangible_assets_to_total_assets,
                'assets_turnover_ratio': assets_turnover_ratio,
                'ln_total_assets': ln_total_assets,
                'leverage_ratio': leverage_ratio,
                'debt_to_equity_ratio': debt_to_equity_ratio,
                'eps': eps
            })

results_df = pd.DataFrame(results_list)
results_df

Calculating metrics for AKSI.JK...
Calculating metrics for ASSA.JK...
Calculating metrics for BIRD.JK...
Calculating metrics for BLTA.JK...
Calculating metrics for CMPP.JK...
Calculating metrics for GIAA.JK...
Calculating metrics for IMJS.JK...
Calculating metrics for LRNA.JK...
Calculating metrics for MIRA.JK...
Calculating metrics for MITI.JK...
Calculating metrics for NELY.JK...
Calculating metrics for SAFE.JK...
Calculating metrics for SDMU.JK...
Calculating metrics for SMDR.JK...
Calculating metrics for TAXI.JK...
Calculating metrics for TMAS.JK...
Calculating metrics for WEHA.JK...
Calculating metrics for HELI.JK...
Calculating metrics for TRUK.JK...
Calculating metrics for TNCA.JK...
Calculating metrics for BPTR.JK...
Calculating metrics for SAPX.JK...
Calculating metrics for DEAL.JK...
Calculating metrics for JAYA.JK...
Calculating metrics for KJEN.JK...
Calculating metrics for PURA.JK...
Calculating metrics for PPGL.JK...
Calculating metrics for TRJA.JK...
Calculating metrics for HAIS.JK...
Calculating metrics for HATM.JK...
Calculating metrics for RCCC.JK...
Calculating metrics for ELPI.JK...
Calculating metrics for LAJU.JK...
Calculating metrics for GTRA.JK...
Calculating metrics for MPXL.JK...
Calculating metrics for KLAS.JK...
Calculating metrics for LOPI.JK...

,tickers,year,current_ratio,roa,working_capital,working_capital_to_total_assets,intangible_assets_to_total_assets,assets_turnover_ratio,ln_total_assets,leverage_ratio,debt_to_equity_ratio,eps
0,ASSA.JK,2023,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,28.680000
1,ASSA.JK,2022,0.862168,0.014174,-2.470325e+11,-0.033987,0.025364,0.807614,29.614562,0.660057,2.965853,28.890000
2,ASSA.JK,2021,0.897742,0.023645,-1.209439e+11,-0.020051,0.024458,0.843524,29.428091,0.707307,2.806479,41.210000
3,ASSA.JK,2020,0.436825,0.016854,-8.092442e+11,-0.156500,0.026217,0.587395,29.274067,0.721650,2.907193,25.650000
4,ASSA.JK,2019,0.526114,0.022767,-5.877313e+11,-0.121201,0.027671,0.481360,29.209840,0.724048,2.946035,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
86,ELPI.JK,2023,5.025996,0.065967,4.927940e+11,0.208581,0.001013,0.456548,28.490785,0.208910,0.276890,21.030000
87,ELPI.JK,2022,6.772852,0.053380,4.871190e+11,0.252271,0.000287,0.327732,28.289027,0.125787,0.147175,15.290000
88,ELPI.JK,2021,2.757028,0.065870,1.508180e+11,0.092283,0.000412,0.330779,28.122230,0.182315,0.226116,14.523745
89,ELPI.JK,2020,4.247726,0.068224,3.202550e+11,0.182420,0.000023,0.274153,28.193827,0.187979,0.244160,16.159471
90,ELPI.JK,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
results_cleaned_df = results_df.dropna()
results_cleaned_df

,tickers,year,current_ratio,roa,working_capital,working_capital_to_total_assets,intangible_assets_to_total_assets,assets_turnover_ratio,ln_total_assets,leverage_ratio,debt_to_equity_ratio,eps
1,ASSA.JK,2022,0.8622,0.0142,-247032460503.0000,-0.0340,0.0254,0.8076,29.6146,0.6601,2.9659,28.8900
2,ASSA.JK,2021,0.8977,0.0236,-120943948145.0000,-0.0201,0.0245,0.8435,29.4281,0.7073,2.8065,41.2100
3,ASSA.JK,2020,0.4368,0.0169,-809244199340.0000,-0.1565,0.0262,0.5874,29.2741,0.7216,2.9072,25.6500
5,BIRD.JK,2023,1.7095,0.0598,621336000000.0000,0.0820,0.0081,0.5834,29.6566,0.2571,0.3530,181.0000
6,BIRD.JK,2022,1.5191,0.0520,471568000000.0000,0.0684,0.0089,0.5208,29.5616,0.2238,0.2939,143.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
84,HATM.JK,2021,4.8971,0.2068,116602583318.0000,0.2674,0.0000,0.5800,26.8010,0.1516,0.1787,13.2194
86,ELPI.JK,2023,5.0260,0.0660,492794000000.0000,0.2086,0.0010,0.4565,28.4908,0.2089,0.2769,21.0300
87,ELPI.JK,2022,6.7729,0.0534,487119000000.0000,0.2523,0.0003,0.3277,28.2890,0.1258,0.1472,15.2900
88,ELPI.JK,2021,2.7570,0.0659,150818000000.0000,0.0923,0.0004,0.3308,28.1222,0.1823,0.2261,14.5237
89,ELPI.JK,2020,4.2477,0.0682,320255000000.0000,0.1824,0.0000,0.2742,28.1938,0.1880,0.2442,16.1595

In [38]:
# save
file_path = # add path
results_cleaned_df.to_excel(file_path)

In [53]:
df = results_cleaned_df
variables = ['roa', 'eps', 'current_ratio', 'debt_to_equity_ratio', 
             'intangible_assets_to_total_assets', 'working_capital_to_total_assets', 
             'leverage_ratio', 'ln_total_assets', 'assets_turnover_ratio']


summary_stats = []
for var in variables:
    mean = df[var].mean()
    median = df[var].median()
    min_value = df[var].min()
    max_value = df[var].max()
    std_dev = df[var].std()
    obs = df[var].count()
    
    summary_stats.append({
        'Variable': var,
        'Mean': mean,
        'Median': median,
        'Min': min_value,
        'Max': max_value,
        'SD': std_dev,
        'Obs': obs
    })


summary_stats_df = pd.DataFrame(summary_stats)
pd.options.display.float_format = '{:.4f}'.format
summary_stats_df

,Variable,Mean,Median,Min,Max,SD,Obs
0,roa,0.0026,0.0196,-0.5783,0.5995,0.1790,67
1,eps,-4.1289,1.1000,-257.8100,181.0000,59.3017,67
2,current_ratio,1.7298,1.0048,0.0251,11.3608,2.2186,67
3,debt_to_equity_ratio,0.4723,0.4751,-55.6027,58.1572,10.8207,67
4,intangible_assets_to_total_assets,0.0151,0.0000,0.0000,0.2459,0.0440,67
5,working_capital_to_total_assets,-0.1168,0.0019,-1.3482,0.5387,0.4089,67
6,leverage_ratio,0.6718,0.5438,0.0235,2.2920,0.5179,67
7,ln_total_assets,26.2785,26.3987,18.0063,30.9242,3.1292,67
8,assets_turnover_ratio,0.5009,0.4883,0.1219,1.1076,0.2561,67

In [54]:
# save
file_path = # add path
results_cleaned_df.to_excel(file_path)